<div class="home-page">
  <section class="media-section">
    <h2 class="section-title">Películas</h2>

    <div class="media-grid">
      <div *ngFor="let pelicula of peliculas" class="media-card">
        <a [routerLink]="['/contenido-pelicula', pelicula.id]">
          <img
            [src]="pelicula.imagen"
            [alt]="pelicula.titulo"
            class="media-poster"
          />

          <div class="media-overlay">
            <h3 class="media-title" [innerHTML]="pelicula.titulo"></h3>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="media-section">
    <h2 class="section-title">Series</h2>

    <div class="media-grid">
      <div *ngFor="let serie of series" class="media-card">
        <a [routerLink]="['/contenido-serie', serie.id]">
          <img
            [src]="serie.imagen"
            [alt]="serie.titulo"
            class="media-poster"
          />

          <div class="media-overlay">
            <h3 class="media-title" [innerHTML]="serie.titulo"></h3>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>