<div class="header">
  <h1 class="title">Cartelera de Series</h1>
</div>
<div class="cartelera">
  <div *ngFor="let serie of series" class="serie flip-card" (click)="toggleFlip($event)">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="{{ serie.imagen }}" alt="{{ serie.titulo }}" class="poster">
      </div>

      <div class="flip-card-back">
        <div class="info">
          <h2 class="nombre" [innerHTML]="serie.titulo"></h2>
          <p class="temporadas"><strong>Temporadas: </strong>{{ serie.temporadas }}</p>
          <p class="sinopsis"><strong>Sinopsis:</strong> {{ serie.sinopsis }}</p>
          <p class="plataforma"><strong>Plataforma:</strong> {{ serie.plataforma }}</p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="footer">
  <div class="footerTxt">
    <a href="#@company"> Series.com</a>
  </div>
  <p>
    <a href="#sobremi">Sobre Nosotros</a> |
    <a href="#contacto">Contacto</a> |
    <a href="#privacidad">Política de Privacidad</a> |
    <a href="#terminos">Términos y Condiciones</a>
  </p>
</div>